@page
@model FrontEnd.Pages.CArbitro.IndexModel
@{
    ViewData["Title"]="Index Arbitros";
}

<h1>Arbitros</h1>

    <p>
        <a asp-page="./Create" class="btn btn-success"> Crear Arbitro </a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Documento</th>
                <th>Nombres</th>
                <th>Apellidos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var ar in Model.arbitros){
                <tr>
                    <td>@ar.Documento</td>
                    <td>@ar.Nombres</td>
                    <td>@ar.Apellidos</td>
                    <td>
                        <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@ar.Id">Editar</a>
                        <a asp-page="./Details" class="btn btn-info" asp-route-id="@ar.Id">Detalles</a>
                        <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@ar.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
