@page
@model FrontEnd.Pages.CEntrenador.IndexModel
@{
    ViewData["Title"]="Entrenadores";
}

<h2>Entrenadores</h2>
<p>
    <a asp-page="./Create" class="btn btn-success">Adicionar Entrenador</a>
</p>
<hr/>
<table class="table">
    <thead>
        <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Equipo que dirige</th>
            <th></th>
        </tr>
        <tbody>
            @foreach (var entr in Model.lstEntrenadores){
                <tr>
                    <td>@entr.Nombres</td>
                    <td>@entr.Apellidos</td>
                    @if(entr.EquipoId!=null){
                        <td>@entr.equipo.Nombre</td>
                    }else{
                        <td>Ninguno asignado</td>
                    }
                    <td>
                        <a asp-page="./Edit" class="btn btn-primary" asp-route-id="@entr.Id">Editar</a>
                        <a asp-page="./Details" class="btn btn-info" asp-route-id="@entr.Id">Detalles</a>
                        <a asp-page="./Delete" class="btn btn-danger" asp-route-id="@entr.Id">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </thead>
</table>